{% extends "layout.html" %}
{% block body %}
<div class="container">
<div class="span7">
{% if session.logged_in %}
<div style="margin: 10px">
<form action="{{ url_for('delete_entry', slug=entry.slug )}}" method=post class=edit-entry>
<h2><font color="red">Are you sure you want to delete this entry?</font></h2>
<h2>{{entry.title}}</h2>
<h4><i> {{ entry.subhed|safe }} </i></h4>
<p>{{ entry.text|safe }}</p>
<p>By Tom on {{ entry.publishdate }}</p>
<p>Stage: {{ entry.stage }}</p>
<br>{% if entry.private == "Private" or entry.private=="private" %}
<font color="red">Private</font>
{% endif %}
<input type="hidden" name="slug" value="{{ entry.slug }}" /><br />
<br>
   <dd><input type=submit class="btn btn-primary" value=Delete>
   | <input type="button" class="btn btn-primary" value="Cancel"
onclick="document.location='/';">

{% else %}
<em>So sorry. You must be logged in to edit or delete an entry. Try again.</em>
</form>
  </div>
{% endif %}

</div>
</div>
{% endblock %}