{% extends "layout.html" %}
{% block body %}
<div class="container">
<div class="span9">
<div class="well">
{% if entry.private %}
{% if session.logged_in %}
<h2>{{ entry.title }}</h2>
<h4><i>{{ entry.subhed|safe }}</i></h4><br>
<p>{{ entry.text|safe }}</p>
<p>By <a href="http://www.twitter.com/{{entry.twitter}}">{{ entry.user }}</a> on {{ entry.month }}/{{entry.day}}/{{entry.year}}</p>
<p>Stage: {{ entry.stage }}</p>
<font color="red">Private</font></p>
<br>
<a href="/">Back to the rest of the entries.</a>
{% else %}
<em>So sorry. You must be logged in to view a private entry. Try again.</em>
{% endif %}
{% elif entry.private == False %}
<h2>{{ entry.title }}</h2>
<h4><i>{{ entry.subhed|safe }}</i></h4><br>
<p>{{ entry.text|safe }}</p>
<p>By <a href="http://www.twitter.com/{{entry.twitter}}">{{ entry.user }}</a> on {{ entry.month }}/{{entry.day}}/{{entry.year}}</p>
<p>Stage: {{ entry.stage }}</p>
<br>
<a href="/">Back to the rest of the entries.</a>
{% endif %}
</div>
</div>
</div>
{% endblock %}

{% block footer %}
<center>&nbsp;
<p class="muted credit"><a href="/colophon.html">Colophon</a></center>
</p>
{% endblock %}