{% extends "layout.html" %}
{% block body %}
<div class="container">
<div class="row">
<div class="span2"></div>
<div class="span4">
<h2>Login</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('login') }}" method=post>
<dl>
<dd><input type=text name=username placeholder="Username">

<dd><input type=password name=password placeholder="Password">
<dd><button class="btn btn-primary" value=Login type="submit">Sign in</button>
</dl>
</form>
</div>
</div>
</div>
{% endblock %}