{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">

<div class="row">
<div class="span10">
{% if session.logged_in %}
{% for entry in entries %}
<div class="well">
<h2>{{ entry.title }}</h2>
{% if entry.subhed %}<h4><i>{{ entry.subhed|safe }}</i></h4>{% endif %}
<p>{{ entry.text|safe }}</p>

{% if entry.recipe %}<p><a href="/recipes/{{ entry.recipe.slug }}.html">Read the recipe.</a></p>{% endif %}

<p>By <a href="http://www.twitter.com/{{entry.twitter}}">{{ entry.user.user_first }}</a> on {{ entry.month }}/{{entry.day}}/{{entry.year}}</p>
<p>Stage: {{ entry.stage }}</p>

{% if entry.private %}
<h4><font color="red">PRIVATE</font></h4>
{% endif %}
<a href="/entries/{{ "%s/%s"|format(entry.year, entry.month)+"/"+entry.slug }}.html">Permalink</a>
| <a href="/admin/entry/{{ entry.id }}">Edit this entry</a>
</div>
{% else %}
<center><em>Unbelievable. No entries here so far. Must be too busy drinking beer instead of brewing it.</em></center>
{% endfor %}


{% else %}
{% for entry in entries %}
{% if not entry.private %}
<div class="well">
<h2>{{ entry.title }}</h2>
{% if entry.subhed %}<h4><i>{{ entry.subhed|safe }}</i></h4>{% endif %}
<p>{{ entry.text|safe }}</p>
{% if entry.recipe %}<p><a href="/recipes/{{ entry.recipe.slug }}.html">Read the recipe.</a></p><br /> {% endif %}

<p>By <a href="http://www.twitter.com/{{entry.twitter}}">{{ entry.user.user_first }}</a> on {{ entry.month }}/{{entry.day}}/{{entry.year}}</p>
<p>Stage: {{ entry.stage }}</p>
<a href="/entries/{{ "%s/%s"|format(entry.year, entry.month)+"/"+entry.slug }}.html">Permalink</a>

</div>
{% endif %}
{% else %}
<center><em>Unbelievable. No entries here so far. Must be too busy drinking beer instead of brewing it.</em></center>

</div>

{% endfor %}
{% endif %}
</div>
</div>
</div>

<div class="row">
<div class="span1">
</div>
<div class="span2">
{% if entries.older %}
<a href="/entry-list/{{entries.older}}/"><< older</a>
{% endif %}
</div>
<div class="span6">
</div>
<div class="span1">
{% if entries.newer %}
<a href="/entry-list/{{entries.newer}}/"> newer>> </a>
{% endif %}
</div>
</div>
{% endblock %}


{% block footer %}
<center>&nbsp;
<p class="muted credit"><a href="/recipes/">Recipes</a> | <a href="/colophon.html">Colophon</a> | <a href="{{ url_for('recent_feed') }}">Feed</a><br />
| <a href="https://untappd.com/user/tommeagher">Other beers I'm drinking</a> |</p> 
</center>


{% endblock %}
